<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DeploymentId" value="XYX01234"/>
    <add key="UpgradePkgId" value="XYX01234"/>
    <add key="BuildNumber" value="17134"/>
    <add key="LogLocation" value=""/>
    <add key="LogDateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="EndDate" value="yyy-MM-dd"/>
    <add key="DefaultLaunchTime" value="HH:mm"/>
    <add key="DeploymentValidNoDays" value="10"/>
    <add key="StartCountdownOfValidDaysAfterSuccessfulPreflightCheck" value="True"/>
    <add key="DoNotRemoveLogonScheduledTaskOnLaunch" value="True"/>
    <add key="FinalMessageThreshold" value="3"/>
    <add key="MaxAllowedDevianceOnScheduledLaunch" value="20"/>
    <add key="DefaultToAutoStart" value="false"/>
    <add key="AllowAutoUpgradeIfNoOneLoggedOn" value="True"/>
    <add key="AllowAutoUpgradeIfNoOneLoggedOnOnlyIfScheduled" value="True"/>
    <add key="AutoStartUpgradeOnEndDate" value="True"/>
    <add key="AllowPostpone" value="True"/>
    <add key="AllowWakeToRun" value="True"/>
    <add key="ForceUpgradeAfterCountdown" value="False"/>
    <add key="ForceLogoffUser" value="True"/>
    <add key="LaunchUPGBackground" value="True"/>
    <add key="CountDownTime" value="36000"/>
    <add key="NaggerTime" value="7200"/>
    <add key="ToastInterval" value="60"/>
    <add key="FrameColor" value="#3366BB"/>
    <add key="MainBackgroundColor" value="#C0D6E4"/>
    <add key="LinkColor" value="#0645AD"/>
    <add key="ForceIEToOpenHyperlink" value="True"/>
    <add key="Width" value="720"/>
    <add key="Height" value="365"/>
    <add key="LogoAtTop" value="True"/>
    <add key="LogoAtTopHeight" value="35"/>
    <add key="CustomPSScript" value=""/>
    <add key="AbortOnProcess" value=""/>
    <add key="ConfirmCMCacheSize" value="True"/>
    <add key="ExpectedCacheSize" value="10240"/>
    <add key="CheckDiskSpace" value="True"/>
    <add key="RequireDiskSpacedMB" value="10240"/>
    <add key="CheckWiredNicConnected" value="True"/>
    <add key="CheckContentAvailable" value="True"/>
    <add key="RunAssessmentTestWhenContentAvailable" value="True"/>
    <add key="AssessmentTestArguments" value="/ImageIndex 3 /auto Upgrade /quiet /noreboot /DynamicUpdate Disable /compat ScanOnly"/>
    <add key="SkipAssessmentTestOnFinalPreflightCheck" value="True"/>
    <add key="AssessmentSucessScript" value=""/>
    <add key="AssessmentFailedScript" value=""/>
    <add key="CheckACConnected" value="True"/>
    <add key="CheckIfPresentationIsRunning" value="True"/>
    <add key="CheckWebEndpoint" value="False"/>
    <add key="CheckWebUrl" value="http://server.domain.com/sms_mp/.sms_aut?mplist"/>
    <add key="CheckPingServer" value="False"/>
    <add key="PingServer" value="server.domain.com"/>
    <add key="CheckRebootComponentBasedServicing" value="True"/>
    <add key="CheckRebootWindowsUpdate" value="True"/>
    <add key="CheckRebootPendingFileRenameOperations" value="False"/>
    <add key="PrelaunchScript" value=""/>
  </appSettings>
</configuration>

